:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.heart {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 300px;
  height: 300px;
  background-color: pink;
  box-shadow: -5px -5px 10px rgba(255, 0, 100, 0.5), 5px 5px 10px rgba(255, 0, 100, 0.5);
  animation: heartbeat 1.5s infinite ease-in-out;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: pink;
  border-radius: 50%;
}

.heart::before {
  top: -150px;
  left: 0;
}

.heart::after {
  top: 0;
  left: 150px;
}

@keyframes heartbeat {
  0%, 100% { transform: translate(-50%, -50%) rotate(-45deg) scale(1); }
  50% { transform: translate(-50%, -50%) rotate(-45deg) scale(1.1); }
}

.heart-text {
  position: absolute;
  left: 50%;
  top: 40%;
  color: maroon;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
 animation: hearttext 1.5s infinite ease-in-out;
}

@keyframes hearttext {
  0%, 100% { transform: translate(-50%, -50%)  scale(1); }
  50% { transform: translate(-50%, -50%)  scale(1.1); }
}

.heart-button {
  position: absolute;
  left: 75%;
  top: 85%;
  transform: translate(-50%, -50%);
  padding: 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #ff4b8b, #ff007f);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(255, 0, 100, 0.4);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;

}

.heart-button:hover {
  background: linear-gradient(45deg, #ff007f, #ff4b8b);
  transform: translate(-50%, -50%) scale(1.1);
  box-shadow: 0px 6px 15px rgba(255, 0, 100, 0.6);
}

.heart-button:active {
  transform: translate(-50%, -50%) scale(0.95);
  box-shadow: 0px 3px 8px rgba(255, 0, 100, 0.3);
}
